body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
  color: rgb(56, 109, 91);
}

.first-room {
  grid-column: 2;
  grid-row: 1;
  zoom: 75%;
}
.info {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
#info {
  font-size: 1.5em;
  margin-top: 0.3em;
}
.back {
  grid-column: 1;
  grid-row: 1;
  width: 100px;
  /* height: 50px; */
  justify-self: flex-end;
  transition-duration: 0.4s;
  border: 0em;
}
.next {
  grid-column: 3;
  grid-row: 1;
  width: 100px;
  /* height: 50px; */
  justify-self: flex-start;
  transition-duration: 0.4s;
  border: 0em;
}
a {
  text-decoration: none;
  color: rgb(56, 109, 91);
}
button:hover {
  background-color: rgb(126, 249, 208);
  border-color: aquamarine;
}
.key {
  width: 40px;
}
.diamond {
  width: 40px;
}

#box_yellow:hover {
  cursor: pointer;
}
#box_drawer:hover {
  cursor: pointer;
}

#star_key,
#star_diamond {
  width: 30px;
}
